.food{
    height: 100vh;
    width: 100%;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0,6),(0,0,0,0,6)),url(../img/carousel-1.jpg);
    background-size: cover;
    background-position: center;
}
.section5{
    margin-top: 50px;
}
.page2{
    padding-bottom: 150px;
}